*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

coverage/
coverage/*
.idea/
.idea/*
psd/*
psd/

mysql-connector-java-5.1.18-bin.jar
mysql-connector-java-5.1.22-bin.jar
mysql-connector-license.txt
Gemfile.lock