<%= render_partial 'shared/flash' %>
<form action="/sign_in/" method="post">
  <%= hidden_field_tag :put %>
  <input type="text" name="session[username]" />
  <input type="password" name="session[password]">
  <button type="submit">提交</button>
</form>