<form action="/sign_in/" method="post" class="form-horizontal">
  <%= hidden_field_tag :put %>
  <div class="control-group">
    <label class="control-label" for="inputUserName">用户名：</label>
    <div class="controls">
      <input type="text" name="session[username]" id="inputUserName" placeholder="输入用户名">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">密码：</label>
    <div class="controls">
      <input type="password" name="session[password]" id="inputPassword" placeholder="输入密码">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input name="remember" type="checkbox"> Remember me
      </label>
      <button type="submit" class="btn">登陆</button>
    </div>
  </div>
</form>