<div class="head">
  <h3>创建小组</h3>
</div>
<div class="create-group">
  <form action="/group/create" method="post" class="horizontal">
    <div class="field-row clearfix">
      <label class="label" for="inputName"><sup>*</sup> 小组名称：</label>

      <div class="field-input-text">
        <input type="text" name="group[name]" id="inputName" placeholder="输入小组名称">
      </div>
    </div>
    <div class="field-row">
      <label class="label" for="inputSlug">* 小组代号：</label>

      <div class="field-input-text">
        <input type="text" name="group[slug]" id="inputSlug" placeholder="输入小组代号">
      </div>
    </div>
    <div class="field-row clearfix">
      <label class="label" for="inputSummary">小组简介：</label>
      <div class="field-textarea">
        <textarea name="group[summary]" id="inputSummary" rows="5"></textarea>
      </div>
    </div>
    <div class="field-row clearfix">
      <div class="action">
        <button type="submit" class="button">申请小组</button>
      </div>
    </div>
  </form>
</div>