<div class="head">
  <h3>编辑话题</h3>
</div>
<div class="create-group">
  <form action="/group/topic/<%= @topic.id %>/update" method="post" class="horizontal">
    <%= hidden_field_tag :put %>
    <div class="field-row clearfix">
      <label class="label" for="inputTitle">主题：</label>

      <div class="field-input-text">
        <input type="text" name="topic[title]" id="inputTitle" value="<%= @topic.title %>" />
      </div>
    </div>
    <div class="field-row clearfix">
      <label class="label" for="inputBody">正文：</label>
      <div class="field-textarea">
        <textarea name="topic[body]" id="inputBody" rows="5"><%= @topic.body %></textarea>
      </div>
    </div>
    <div class="field-row clearfix">
      <div class="action">
        <button type="submit" class="button">发布</button>
      </div>
    </div>
  </form>
</div>