<div class="column150 pull-left">
  <%= render_partial 'shared/left_column' %>
</div><!--column150-->
<div class="column150 pull-left">
  <%= render_partial 'shared/right_column' %>
</div><!--column200-->
<div class="column-main">
  <div class="wrapper clearfix">
    <div class="head">
      <h3>创建话题</h3>
    </div>
    <div class="create-topic">
      <form action="/group/<%= @group.slug %>/create_topic" method="post" class="horizontal">
        <%= csrf_tag %>
        <div class="field-row clearfix">
          <label class="label" for="inputTitle">主题：</label>

          <div class="field-input-text">
            <input type="text" name="topic[title]" id="inputTitle" />
          </div>
        </div>
        <div class="field-row clearfix">
          <label class="label" for="inputBody">正文：</label>
          <div class="field-textarea">
            <textarea name="topic[body]" id="inputBody" rows="20"></textarea>
          </div>
        </div>
        <div class="field-row clearfix">
          <div class="action">
            <button type="submit" class="button">发布</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div><!--column-main-->







