<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Index</title>
  <link rel="stylesheet" href="../stylesheets/style.css" />
</head>
<body>
<div class="header">
  <div class="inner">
    <h1 class="branding">
      <a href="/">首页</a>
    </h1>
    <div class="navigation">
      <ul>
        <li><a href="">浏览话题</a></li>
        <li><a href="">发现小组</a></li>
      </ul>
    </div>
    <div class="userinfo">
      [<a href="">Kenn</a>] <button class="button">登出</button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="inner">
    <div class="row-fluid">
      <div class="column150 pull-left">

      </div>
      <div class="column200 pull-right">
        <div class="groups">
          <div class="head">
            <h3>管理</h3>
          </div>
          <ul class="typo-ul">
            <li><a href="">我管理的小组</a></li>
            <li><a href="">我加入的小组</a></li>
            <li><a href="">修改资料</a></li>
            <li><a href="">更新密码</a></li>
          </ul>
        </div>
      </div><!--column200-->
      <div class="column-main">
        <div class="wrapper">
          <div class="head">
            <h3>创建小组</h3>
          </div>
          <div class="create-group">
            <form action="/group/create" method="post" class="horizontal">
              <div class="field-row">
                <label for="input-name" class="label">小组名称</label>
                <div class="field-input-text">
                  <input type="text" name="group[name]" id="input-name" />
                </div>
              </div>
              <div class="field-row">
                <label for="input-slug" class="label">小组代号</label>
                <div class="field-input-text">
                  <input type="text" name="group[slug]" id="input-slug" />
                </div>
              </div>
              
              <div class="field-row">
                <label for="input-summary" class="label">小组介绍</label>
                <div class="field-textarea">
                  <textarea name="group[summary]" id="input-summary" rows="5"></textarea>
                </div>
              </div>
              <div class="field-row">
                <div class="action">
                  <button type="submit" class="button-bule">创建</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div><!--column-main-->
    </div><!--row-fluid-->
  </div><!--inner-->
</div>
</body>
</html>