<ul class="nav nav-pills pull-right">
  <li <%= "class='active'" if current_page?('/admin/') %>><a href="/admin/">首页</a></li>
  <li <%= "class='active'" if current_page?('/admin/users') %>><a href="/admin/users">用户管理</a></li>
</ul>