<div class="span3 bs-docs-sidebar">
  <ul class="nav nav-list bs-docs-sidenav affix-top">
    <li><a href="/admin/users">用户列表</a></li>
    <li><a href="/admin/user/new">新建用户</a></li>
    <li><a href="/admin/groups">小组列表</a></li>
    <li><a href="/admin/group/new">创建小组</a></li>
  </ul>
</div>