<% if sign_in? %>
<div class="user-plane">
  <a href="/user/<%= current_user.id %>">
    <%= avatar_tag current_user %>
    我的主页
  </a>
</div>
<div class="groups">
  <ul class="typo-ul">
    <li><a href="/groups/new">创建小组</a></li>
  </ul>
</div>
<% end %>