<div class="userinfo">
  <% if sign_in? %>
    <form action="/sign_out" style="display: inline;" method="post">
      <%= hidden_field_tag :methods => "delete", :csrf => true %>
      <button class="button">登出</button>
    </form>
  <% else %>
    <a href="/sign_in">登录</a> | <a href="/sign_up">注册</a>
  <% end %>
</div>