<form action="/user/create" method="post">
  <p>
    用户名：
    <input type="text" name="user[name]" />
  </p>
  <p>
    email：
    <input type="text" name="user[email]" />
  </p>
  <p>
    密码：
    <input type="password" name="user[password]" />
  </p>
  <p>
    确认密码：
    <input type="password" name="user[password_confirmation]">
  </p>
  <p>
    <button type="submit">确认注册</button>
  </p>
</form>